<$ include std_doctype_html_decl $>
	<head>
<$ defaultPageTitle = lc( 'wwVerifySignature' ) $>
<$ include std_html_head_declarations $>
	</head>
<$ include body_def $>
<$ include std_page_begin $>
<$ include std_header $>
		<br>
<$ UseRowHighlighting = 1 $>
<$ include cosign_verify_define_widths $>

<$ if rsExists( 'SignatureReview' ) $>
		<table class="xuiTitleTable" cellpadding="0" cellspacing="0" summary="">
			<tr>
				<td class="xuiPageHeadingCell">
					<h1 class="xuiPageHeadingText"><$ lc( 'wwCoSignVerifiedSignatures', dDocName ) $></h1>
				</td>
			</tr>
		</table>
		<br style="line-height:2em">
 <$ resultSetClass = 'cosign_verify', resultSetType = 'cosign_verify_list', 
 	  tableSummary = 'wwCoSignVerifyListTable' $>
	<$ exec inc( 'cosign_setup_verify_table_header' ) $>
	<$ include slim_table_header $>

	<$ exec inc('cosign_setup_verify_table_row' ) $>
	<$ exec inc('create_slim_table_row_include' ) $>

	<$ loop SignatureReview $>
		<$ include slim_table_row_include $>
	<$ endloop $>

	<$ include slim_table_footer $>
<$ else $>
	No Results Found
<$ endif $>
		<br style="line-height:2em">
<$ include std_page_end $>