<$ include std_doctype_html_decl $>
	<head>
<$ defaultPageTitle = lc( 'wwCoSignProfile' ) $>
<$ include std_html_head_declarations $>
	</head>
<$ include body_def $>
<$ include std_page_begin $>
<$ include std_header $>
		<br>
<$ UseRowHighlighting = 1 $>
<$ include cosign_profile_define_widths $>

<$ QueryText = 'dDocType <MATCHES> `CoSignSignatureProfile`' $>
<$ executeService('GET_SEARCH_RESULTS') $>
<$ if rsExists( 'SearchResults' ) $>
		<table class="xuiTitleTable" cellpadding="0" cellspacing="0" summary="">
			<tr>
				<td class="xuiPageHeadingCell"><h1 class="xuiPageHeadingText"><$ lc( 'wwCoSignProfiles' ) $></h1></td>
			</tr>
		</table>
		<br style="line-height:2em">
 <$ resultSetClass = 'cosign_profile', resultSetType = 'cosign_profile_list', 
 	  tableSummary = 'wwCoSignProfileListTable' $>
	<$ exec inc( 'cosign_setup_profile_table_header' ) $>
	<$ include slim_table_header $>

	<$ exec inc('cosign_setup_profile_table_row' ) $>
	<$ exec inc('create_slim_table_row_include' ) $>

	<$ loop SearchResults $>
		<$ include slim_table_row_include $>
	<$ endloop $>
	<$ exec rsRemove( 'SearchResults' ) $>
	<$ include slim_table_row_include $>

	<$ include slim_table_footer $>
<$ endif $>
		<br style="line-height:2em">
<$ include std_page_end $>