<$ isNew = 1, isEditMode = 1, isProfileCheckIn = 1 $><$ if #active.dID $><$ isNew = 0 $><$ endif $>
<$ include std_doctype_html_decl $>
	<head>
<$ include std_html_head_declarations $>
		<style TYPE="text/css">
<!--
INPUT.boldbutton { font-family:system; }
-->
		</style>
		<style>
			h1, h2, p, input, textarea, select {
				text-align: left;
			}
			h1 {
				padding: 0px;
				margin-bottom: 10px;
				font-weight: bold;
				font-size:12px;
			}
			.row-headline {
				clear:both;
			}
			.row-headline h1 {
				padding: 9px;
				margin-bottom: 0px;
				font-weight: bold;
				border-top:1px solid #f1f1f1;
				border-right:1px solid #999;
				border-bottom:1px solid #999;
				border-left:1px solid #f1f1f1;
				background-color:#dce2f5;
				width:980px;
				font-size:13px;
			}
			h2 {
				padding: 5px 0 5px 0px;
				font-size: 12px;
			}
			input[type="checkbox"] {
				margin: 0 0px 0 20px;
			}
			input[type="radio"] {
				margin: 0 0px 0 20px;
			}
			select[multiple="multiple"] {
				width: 90%
			}
			input[type="text"] {
				padding: 2px;
				margin-left: 0px;
			}
			input[readonly="readonly"], input[readonly] {
				background: lightgrey;
			}
			textarea {
				width: 90%
			}
			.container {
				width: 1000px;
			}
			.left {
				float: left;
				width: 569px;
				padding: 9px 20px 9px 9px;
			}
			.innerLeft {
				float: left;
				width: 45%;
				color: #999;
				margin-top:10px;
				padding-left:5%;
			}
			.innerRight {
				float: left;
				width: 50%;
				color: #999;
				margin-top:10px;
			}
			.right {
				background-color: #f1f1f1;
				float: left;
				width: 380px;
				padding: 10px;
				border-left: 1px solid #f1f1f1;
				border-right: 1px solid #999;
			}
			.right p {
				padding: 0 0 0px 0px;
			}
			.center {
				clear: both;
				position: relative;
				left: 450px;
				padding: 15px 0;
			}
			.separator {
				background-color: #999;
				float: left;
				height: 1px;
				width: 1000px;
				border-bottom:1px solid #f1f1f1;
			}
			.footer {
				padding: 20px 0 40px 0;
			}
		</style>
		<script type="text/javascript">
			function toggleTitle() {
				toggleReadOnly( 'CoSign.SigProfile.title', 'SignatureFieldDetails' );
			}
			function togglePageNumber() {
				toggleReadOnly( 'CoSign.SigProfile.pageNumber', 'sPage' );
			}
			function toggleReadOnly( targetID, triggerName ) {
				var trigger = document.getElementsByName( triggerName );
				var target = document.getElementById( targetID );
				var displayFlag = trigger[0].parentNode.parentNode.style.display
				switch( trigger[ 0 ].type ) {
					case 'checkbox':
					case 'radio':
						for( var i = 0; i < trigger.length; i++ ) {
							if( trigger[ i ].className == 'Enable' ) {
								if( trigger[ i ].checked || displayFlag == 'none' ) {
									target.readOnly = '';
								} else {
									target.readOnly = 'readonly';
								}
								break;
							}
						}
						break;
				}
			}
			function toggleAdHoc() {
				toggleHidden( 'AdHoc', 'CoSign.Logic.allowAdHoc', 'true' );
				toggleHidden( 'Visible', 'CoSign.Logic.allowAdHoc', 'true' );
				toggleHidden( 'NonAdHoc', 'CoSign.Logic.allowAdHoc', 'false' );
			}
			function toggleVisible() {
				toggleHidden( 'Visible', 'CoSign.SigProfile.visible', 'true' );
			}
			function toggleHidden( targetName, triggerName, test ) {
				var trigger = document.getElementsByName( triggerName );
				switch( trigger[ 0 ].type ) {
					case 'checkbox':
					case 'radio':
						for( var i = 0; i < trigger.length; i++ ) {
							if( trigger[ i ].className == 'Enable' && trigger[ i ].checked ) {
								var j = 0;
								while( document.getElementById( targetName + j ) ) {
									if( trigger[ i ].value == test )
										document.getElementById( targetName + j ).style.display = 'block';
									else
										document.getElementById( targetName + j ).style.display = 'none';
									j++;
								}
								break;
							}
						}
						break;
				}
			}
			function submitProfile() {
				if( document.getElementById( 'CoSign.Logic.allowAdHoc' ).value ) {
					getPageNumber();
					checked( 'SignatureFieldDetails', 5, 'CoSign.SigProfile.showTitle' );
					checked( 'DisplayGMTOffset', 0, 'CoSign.SigProfile.extTimeformat' );
					checked( 'SignatureFieldDetails', 0, 'CoSign.SigProfile.signer' );
					checked( 'SignatureFieldDetails', 2, 'CoSign.SigProfile.date' );
					checked( 'SignatureFieldDetails', 1, 'CoSign.SigProfile.logo' );
					checked( 'SignatureFieldDetails', 3, 'CoSign.SigProfile.graphicalImage' );
					checked( 'SignatureFieldDetails', 4, 'CoSign.SigProfile.initials' );
					getReasons( 'ListOfReasons', 'CoSign.SignReasons.signReason' );
					if( document.getElementsByName( 'CoSign.SigProfile.visible' )[ 1 ].checked )
						alterSigProfileLocationValues();
					else if( document.getElementsByName( 'CoSign.Logic.allowAdHoc' )[ 1 ].checked )
						alterSigProfileValues();
				} else
					document.getElementsByName( 'CoSign.SigProfile.fieldName' )[ 0 ].value =
							document.getElementById( 'CoSign.SigField.fieldNameToSign' ).value;
			}
			function alterSigProfileValues() {
				alterValues( [ 'x', 'y', 'width', 'height', 'dateFormat', 'timeFormat' ] );// Do not include pageNumber, value must be great than 0
			}
			function alterSigProfileLocationValues() {
				alterValues( [ 'x', 'y', 'width', 'height' ] );// Do not include pageNumber, value must be great than 0
			}
			function alterValues( fields ) {
				for( var i = 0; i < fields.length; i++ ) {
					var field = document.getElementsByName( 'CoSign.SigProfile.' + fields[ i ] )[ 0 ];
					switch( field.type ) {
						case 'hidden':
						case 'text':
						case 'checkbox':
						case 'radio':
							field.value = '0';
							break;
					}
				}
			}
			function getReasons( listId, reasonName ) {
				var list = document.getElementById( listId ).options;
				var val = document.getElementsByName( reasonName )[ 0 ].value;
				for( var i = 0; i < list.length; i++ ) {
					if( list[ i ].selected )
						val += (val != '' ? ',' : '') + list[ i ].text;
				}
				document.getElementsByName( reasonName )[ 0 ].value = val;
			}
			function checked( elementId, index, CM ) {
				var result = false;
				if( index == null || index == undefined ) {
					var cbGroup = document.getElementsByName( elementId );
					for( var i = 0; i <= cbGroup.length; i++ ) {
						var cb = cbGroup[ i ];
						if( cb.checked ) result = true;
					}
				} else {
					var cb = document.getElementById( elementId );
					if( cb == null )
						cb = document.getElementsByName( elementId )[ index ];
					if( cb != null && cb.checked )  result = true;
				}
				if( CM != null || CM != undefined )
					if( navigator.userAgent.indexOf( 'MSIE' ) > -1 &&
							( document.getElementsByName( CM )[1] != null ||
									document.getElementsByName( CM )[1] != undefined ) )
						document.getElementsByName( CM )[1].value = result;
					else
						document.getElementsByName( CM )[0].value = result;
			}
			function getPageNumber() {
				var elements = document.getElementsByName( 'sPage' );
				var pageNumber = document.getElementsByName( 'CoSign.SigProfile.pageNumber' )[ 0 ];
				for( var i = 0; i < elements.length; i++ ) {
					if( elements[ i ].checked ) {
						if( elements[ i ].value == '' ) {
							break;
						} else {
							pageNumber.value = elements[ i ].value;
							break;
						}
					}
				}
			}
			function cosign_init() {
				togglePageNumber();
				toggleAdHoc();
			}
		</script>
	</head>
<$ onLoadScript = 'cosign_init();' $>
<$ include body_def $>
<$ include std_page_begin $>
<$ if isFalse( isNew ) $>
	<$ executeService( 'COSIGN_LOAD_SIGNREQUEST' ) $>
	<$ executeService( 'DOC_INFO' ) $>
<$ endif $>
		<div class="mainContent" >
			<form method="POST" action="<$ HttpCgiPath $>" onSubmit="submitProfile();">
<$ include idc_token_form_field $>
<$ if isFalse( isNew ) $>
				<input type="hidden" name="IdcService" value="COSIGN_CHECKIN_SEL_PROFILE" />
				<input type="hidden" name="dID" value="<$ #active.dID $>" />
				<input type="hidden" name="dDocName" value="<$ #active.dDocName $>" />
<$ else $>
				<input type="hidden" name="IdcService" value="COSIGN_CHECKIN_NEW_PROFILE" />
<$ endif $>
				<input type="hidden" name="dSecurityGroup" value="<$ #env.coSignSecurityGroup $>" />
<$ if UseAccounts $>
				<input type="hidden" name="dDocAccount" value="" />
<$ endif $>
				<input type="hidden" name="dDocType" value="CoSignSignatureProfile" />
				<div class="container">

					<!-- Signature Profile Name -->
					<div class="row">
						<div class="row-headline">
							<h1>Signature Profile Name</h1>
						</div>
						<div class="left">
							<!-- <h1>Signature Profile Name</h1> -->
							<p>Enter a name and description for this Signature Profile.</p>
						</div>
						<div class="right">
							<h2>Title:</h2>
							<p>
<$ fieldName = 'dDocTitle' $>
<$ inc( 'cosign_edit_entry' ) $>
							</p>
							<h2>Description:</h2>
							<p>
<$ fieldName = 'xComments' $>
<$ inc( 'cosign_memo_entry' ) $>
							</p>
							<h2>CoSign Role:</h2>
							<p>
<$ exec rsMakeFromList( 'Roles', 'xCoSignRequiredSignatures.options' ) $>
								<select name="xCoSignRequiredSignatures"<$ if #active.xCoSignRequiredSignatures $> disabled<$ endif $>>
									<$ loop Roles $>
									<option<$ if #active.xCoSignRequiredSignatures AND #active.xCoSignRequiredSignatures like #active.row $> selected<$ endif $>><$ #active.row $>
									<$ endloop $>
								</select>
<$ if #active.xCoSignRequiredSignatures $><input type="hidden" name="xCoSignRequiredSignatures" value="<$ #active.xCoSignRequiredSignatures $>" /><$ endif $>
							</p>
							<h2>Signature Tag:</h2>
							<p>
<$ exec rsMakeFromList( 'Tags', 'xCoSignSignatureTag.options' ) $>
								<select name="xCoSignSignatureTag"<$ if #active.xCoSignSignatureTag $> disabled<$ endif $>>
									<$ loop Tags $>
										<$ if #active.row like 'Externally Signed' $><$ rsNext( 'Tags' ) $><$ endif $>
									<option<$ if #active.xCoSignSignatureTag AND #active.xCoSignSignatureTag like #active.row $> selected<$ endif $>><$ #active.row $>
									<$ endloop $>
								</select>
<$ if #active.xCoSignSignatureTag $><input type="hidden" name="xCoSignSignatureTag" value="<$ #active.xCoSignSignatureTag $>" /><$ endif $>
							</p>
						</div>
					</div>
					<div class="separator"></div>

					<!-- Dynamic Signature -->
					<div class="row">
						<div class="row-headline">
							<h1>Dynamic Structure</h1>
						</div>
						<input type="hidden" name="CoSign.Logic.fields"
						       value="enforceFieldToSign;isWorkflowMode;allowAdHoc;allowUserReason;enforceReason" />
						<div class="left">
							<!-- <h1>Dynamic Signature</h1> -->
							<p>PDF only. Specify whether to allow the creation of signature fields dynamically.</p><br />
							<div style="display: none;">
								<h1>Workflow Mode</h1>
								<p>This parameter will affect the UI behaviour.</p><br />
							</div>
						</div>
						<div class="right">
							<h2>Working Mode:</h2>
							<p>
<$ fieldName = 'CoSign.Logic.allowAdHoc', fieldValue = 'true', radioFieldCaption = 'Ad-Hoc',
		radioStyle = 'Enable', radioFieldFunction = 'javascript:toggleAdHoc();' $>
<$ inc( 'cosign_radio_entry' ) $>
<$ fieldName = 'CoSign.Logic.allowAdHoc', fieldValue = 'false', radioStyle = 'Enable', checked = 1,
		radioFieldCaption = 'Pre-defined fields', radioFieldFunction = 'javascript:toggleAdHoc();' $>
<$ inc( 'cosign_radio_entry' ) $>
							</p><br />
							<div style="display: none;">
								<h2>Workflow Mode:</h2>
								<p>
<$ fieldName = 'CoSign.Logic.isWorkflowMode', fieldValue = 'true', radioFieldCaption = 'Yes' $>
<$ inc( 'cosign_radio_entry' ) $>
<$ fieldName = 'CoSign.Logic.isWorkflowMode', fieldValue = 'false', radioFieldCaption = 'No',
		checked = 1 $>
<$ inc( 'cosign_radio_entry' ) $>
<$ fieldName = 'CoSign.Logic.enforceFieldToSign', fieldValue = 'true', radioFieldCaption = 'Yes' $>
<$ inc( 'cosign_radio_entry' ) $>
<$ fieldName = 'CoSign.Logic.enforceFieldToSign', fieldValue = 'false', radioFieldCaption = 'No',
		checked = 1 $>
<$ inc( 'cosign_radio_entry' ) $>
								</p><br />
							</div>
						</div>
					</div>
					<div class="separator"></div>

					<!-- Field Name To Sign -->
					<div class="row" id="NonAdHoc0">
						<div class="row-headline">
							<h1>Field Name To Sign</h1>
						</div>
						<input type="hidden" name="CoSign.SigField.fields" value="fieldNameToSign" />
						<div class="left">
							<!-- <h1>Field Name To Sign</h1> -->
							<p>
								Specifies a name of a signature field in the document.  Unless this parameter is null, the
								signature applies to this field.
							</p>
						</div>
						<div class="right">
							<h2>Field Name:</h2>
							<p>
<$ fieldName = 'CoSign.SigField.fieldNameToSign' $>
<$ inc( 'cosign_edit_entry' ) $>
							</p>
						</div>
					</div>
					<div class="separator" id="NonAdHoc1"></div>

					<!-- Reasons -->
					<div class="row">
						<div class="row-headline">
							<h1>Reasons</h1>
						</div>
						<input type="hidden" name="CoSign.SignReasons.fields" value="signReason" />
						<div class="left">
							<p>
								By selecting "Yes" or "No" under "Enforce reasons?" you specify whether a user will need to
								&nbsp;select a Reason for Signing or be able to enter his/her own unique reason.
							</p>
							<p>
								Define Reasons for Signing that users will select when signing a document.<br />
								<br />Note:Predefined Reasons for Signing that were entered in the Document Library
								&nbsp;configuration settings page will be overridden for this Content Type documents by the
								&nbsp;Reasons for Signing entered here.
							</p>
						</div>
						<div class="right">
							<h2>Enforce reasons?</h2>
							<p>
<$ fieldName = 'CoSign.Logic.enforceReason', fieldValue = 'true', , radioFieldCaption = 'Yes',
		checked = 1 $>
<$ inc( 'cosign_radio_entry' ) $>
<$ fieldName = 'CoSign.Logic.enforceReason', fieldValue = 'false', , radioFieldCaption = 'No' $>
<$ inc( 'cosign_radio_entry' ) $>
							</p>
							<h2>Enable user-defined reason?</h2>
							<p>
<$ fieldName = 'CoSign.Logic.allowUserReason', fieldValue = 'true', , radioFieldCaption = 'Yes',
		checked = 1 $>
<$ inc( 'cosign_radio_entry' ) $>
<$ fieldName = 'CoSign.Logic.allowUserReason', fieldValue = 'false', , radioFieldCaption = 'No' $>
<$ inc( 'cosign_radio_entry' ) $>
							</p>
							<h2>Predefined Reasons for Signing</h2>
							<p>
<$ exec rsMakeFromList( 'Reasons', 'xCoSignSignatureReasons.options' ) $>
<$ reasons = getValue( '#local', 'CoSign.SignReasons.signReason' ) $>
								<select size="6" id="ListOfReasons" multiple="multiple">
<$ loop Reasons $>
									<option<$ if #active.reasons AND #active.reasons like ( '*' & #active.row & '*' ) $> selected<$ endif $>><$ #active.row $>
<$ endloop $>
								</select>
								<input type="hidden" name="CoSign.SignReasons.signReason" value="" />
							</p>
						</div>
					</div>
					<div class="separator"></div>

					<!-- Signature Visibility -->
					<div class="row" id="AdHoc0">
						<div class="row-headline">
							<h1>Signature Visibility</h1>
						</div>
						<input type="hidden" name="CoSign.SigProfile.fields"
													value="fieldName;x;y;width;height;pageNumber;visible;title;showTitle;dateFormat;timeFormat;extTimeformat;signer;date;logo;graphicalImage;initials" />
						<input type="hidden" name="CoSign.SigProfile.fieldName" value="newFieldDefault" />
						<div class="left">
							<!-- <h1>Signature Visibility</h1> -->
							<p>Specify whether the CoSign digital signature should be visible in the document file.</p>
							<br />
						</div>
						<div class="right">
							<h2>Should CoSign digital signature be visible?</h2>
							<p>
<$ fieldName = 'CoSign.SigProfile.visible', fieldValue = 'true', , radioFieldCaption = 'Yes',
		radioStyle = 'Enable', checked = 1, radioFieldFunction = 'javascript:toggleVisible();' $>
<$ inc( 'cosign_radio_entry' ) $>
<$ fieldName = 'CoSign.SigProfile.visible', fieldValue = 'false', , radioFieldCaption = 'No',
		radioStyle = 'Enable', radioFieldFunction = 'javascript:toggleVisible();' $>
<$ inc( 'cosign_radio_entry' ) $>
							</p>
						</div>
					</div>
					<div class="separator" id="AdHoc1"></div>

					<!-- Signature Field Details -->
					<div class="row" id="AdHoc2">
						<div class="row-headline">
							<h1>Signature Field Details</h1>
						</div>
						<div class="left">
							<!-- <h1>Signature Field Details</h1> -->
							<p>
								Select the details that will appear in the digital signature field.  You may select any
								number of elements.
							</p>
						</div>
						<div class="right">
							<h2>Include&nbsp;Element Name</h2>
							<p>
<$ fieldName = 'SignatureFieldDetails', fieldId = 'CoSign.SigProfile.signer', checked = 1,
		fieldCaption = 'Signed By', fieldCheckValue = 'true' $>
<$ inc( 'cosign_checkbox_entry' ) $>
								<input type="hidden" name="CoSign.SigProfile.signer" value="" /><br /><br />
<$ fieldName = 'SignatureFieldDetails', fieldId = 'CoSign.SigProfile.logo', fieldCaption = 'Logo',
		fieldCheckValue = 'true' $>
<$ inc( 'cosign_checkbox_entry' ) $>
								<input type="hidden" name="CoSign.SigProfile.logo" value="" /><br /><br />
<$ fieldName = 'SignatureFieldDetails', fieldId = 'CoSign.SigProfile.date', checked = 1,
		fieldCaption = 'Date\Time', fieldCheckValue = 'true' $>
<$ inc( 'cosign_checkbox_entry' ) $>
								<input type="hidden" name="CoSign.SigProfile.date" value="" /><br /><br />
<$ fieldName = 'SignatureFieldDetails', fieldId = 'CoSign.SigProfile.graphicalImage', checked = 1,
		fieldCaption = 'Graphical Signature', fieldCheckValue = 'true' $>
<$ inc( 'cosign_checkbox_entry' ) $>
								<input type="hidden" name="CoSign.SigProfile.graphicalImage" value="" /><br /><br />
<$ fieldName = 'SignatureFieldDetails', fieldId = 'CoSign.SigProfile.initials',
		fieldCaption = 'Initials', fieldCheckValue = 'true' $>
<$ inc( 'cosign_checkbox_entry' ) $>
								<input type="hidden" name="CoSign.SigProfile.initials" value="" /><br /><br />
<$ fieldName = 'SignatureFieldDetails', fieldId = 'CoSign.SigProfile.showTitle',
		fieldCaption = 'Show Title', fieldCheckValue = 'true', checkboxStyle = 'Enable',
		checkboxFieldFunction = 'javascript:toggleTitle()' $>
<$ inc( 'cosign_checkbox_entry' ) $>
								<input type="hidden" name="CoSign.SigProfile.showTitle" value="" />
<$ fieldName = 'CoSign.SigProfile.title' $>
								Title: <$ inc( 'cosign_edit_entry' ) $><br /><br />
							</p>
						</div>
					</div>
					<div class="separator" id="AdHoc3"></div>

					<!-- Signature Size and Location -->
					<div class="row" id="Visible0" style="display:none;">
						<div class="row-headline">
							<h1>Signature Size and Location</h1>
						</div>
						<div class="left">
							<!-- <h1>Signature Size and Location</h1> -->
							<p>
								Specify the size and location for the CoSign digital signature. Enter coordinates for X and
								Y, the width and height for the signature field, as well as the page number that the
								signature should appear on.
							</p>
						</div>
						<div class="right">
							<h2>Signature Size and Location:</h2>
							<p>
<$ fieldName = 'CoSign.SigProfile.x', fieldValue = 50 $>
								X:<$ inc( 'cosign_edit_entry' ) $><br /><br />
<$ fieldName = 'CoSign.SigProfile.y', fieldValue = 50 $>
								Y:<$ inc( 'cosign_edit_entry' ) $><br /><br />
<$ fieldName = 'CoSign.SigProfile.width', fieldValue = 100 $>
								Width:<$ inc( 'cosign_edit_entry' ) $><br /><br />
<$ fieldName = 'CoSign.SigProfile.height', fieldValue = 50 $>
								Height:<$ inc( 'cosign_edit_entry' ) $><br /><br />
							</p>
							<h2>Signature Page:</h2>
							<p>
<$ fieldName = 'sPage', radioStyle = 'Enable', fieldValue = '', radioFieldCaption = 'Page Number',
		radioFieldFunction = 'javascript:togglePageNumber();' $>
<$ inc( 'cosign_radio_entry' ) $>
<$ fieldName = 'CoSign.SigProfile.pageNumber', setReadOnly = 1, fieldDefault = 1 $>
<$ inc( 'cosign_edit_entry' ) $><br /><br />
<$ fieldName = 'sPage', fieldValue = '-2', radioFieldCaption = 'Penultimate Page',
		radioFieldFunction = 'javascript:togglePageNumber();' $>
<$ inc( 'cosign_radio_entry' ) $><br /><br />
<$ fieldName = 'sPage', fieldValue = '-1', radioFieldCaption = 'Last Page',
		radioFieldFunction = 'javascript:togglePageNumber();'	$>
<$ inc( 'cosign_radio_entry' ) $>
							</p>
						</div>
					</div>
					<div class="separator" id="Visible1" style="display:none;"></div>

					<!-- Time/Date Appearance Format -->
					<div class="row" id="AdHoc4">
						<div class="row-headline">
							<h1>Time/Date Appearance Format</h1>
						</div>
						<div class="left">	
							<!-- <h1>Time/Date Appearance Format</h1> -->
							<p>
								Specify how the CoSign digital signature time and date information will appear.  Notations
								are described in the list below.
								<div class="innerLeft">
									d - Day(1-31)<br />dd - Day(01-31)<br />ddd- Day(Sun-Sat)<br />dddd - Day(Sunday-Saturday)
									&nbsp;<br />M - Month(1-12)<br />MM - Month(01-12)<br />MMM - Month(Jan-Dec)<br />MMMM -
									&nbsp; Month(January-December)<br />yy - Year(00-99)<br />yyyy - Year(1990-9999)
								</div>
								<div class="innerRight">
									&nbsp;h - Hour(0-12)<br />hh - Hour(00-12)<br />H - Hour(0-23)<br />HH - Hour(00-24)<br />
									&nbsp;m - Minute(0-59)<br />mm - Minute(00-59)<br />s - Second(0-59)<br />ss -
									&nbsp;Second(00-59)<br />t - AM/PM(A/P)<br />tt - AM/PM
								</div>
							</p>
						</div>
						<div class="right">
							<p>
<$ fieldName = 'CoSign.SigProfile.dateFormat', fieldDefault = 'MM/dd/yyyy' $>
								Date Format:<$ inc( 'cosign_edit_entry' ) $><br /><br />
<$ fieldName = 'CoSign.SigProfile.timeFormat', fieldDefault = 'hh:mm tt' $>
								Time Format:<$ inc( 'cosign_edit_entry' ) $><br /><br />
<$ fieldName = 'CoSign.SigProfile.extTimeformat', fieldCaption = 'Display GMT Offset',
		fieldCheckValue = 'true' $>
<$ inc( 'cosign_checkbox_entry' ) $>
							</p>
							<br /><br /><br /><br /><br /><br /><br />
						</div>
					</div>
					<div class="separator" id="AdHoc5"></div>

					<!-- Footer -->
					<div class="row footer">
						<div class="center">
							<input type="submit" value="<$ lc( 'wwSave' ) $>" />
							<input type="reset" />
<$ if isFalse( isNew ) $>
							<input type="button" onclick="window.history.go(-1)" value="<$ lc( 'wwCancel' ) $>" />
<$ endif $>
						</div>
					</div>
				</div>
			</form>
		</div>
<$ include std_page_end $>
<$ if isTrue( getValue( '#local', 'CoSign.Logic.allowAdHoc' ) ) $>
		<script>toggleAdHoc();</script>
<$ endif $>
<$ if isTrue( getValue( '#local', 'CoSign.SigProfile.visible' ) ) $>
		<script>toggleVisible();</script>
<$ endif $>
	</body>
</html>