<$ columns = 'sID,fieldName,status,signingTime,signerEmail,signerName,signReason,certErrorStatus' $>
<$ include std_doctype_html_decl $>
	<head>
<$ include std_html_head_declarations $>
		<style>
			.container {
				width: 1000px;
				display: table;
			}
			.header {
				font-weight: bold;
			}
			.small {
				width: 55px;
			}
			.medium {
				width: 80px;
			}
			.large {
				width: 120px;
			}
			.row {
				border-bottom: 1px solid #000;
				display: table-row;
			}
			.column {
			 display: table-cell;
			}
		</style>
	</head>
<$ include body_def $>
<$ include std_page_begin $>
<$ exec rsMakeFromString( 'COLUMNS', columns ) $>
		<div class="container">
			<div class="row header">
<$ loop COLUMNS $>
	<$ if COLUMNS.#row gt 0 $>|<$ endif $>
				<span class="column medium"><$ lc( 'ww' & #active.row ) $></span>
<$ endloop $>
			</div>
			<div class="row">
<$ if rsExists( 'SignatureReview' ) $>
	<$ loop SignatureReview $>
		<$ loop COLUMNS $>
			<$ value = getValue( '#active', #active.row ) $>
			<$ if NOT value $><$ value = getValue( '#active', strUpper( #active.row ) ) $><$ endif $>
			<$ if #active.row like 'status|certErrorStatus' $>
				<$ value = lc( 'ww' & #active.row & value ) $>
			<$ endif $>
			<$ if COLUMNS.#row gt 0 $>|<$ endif $>
				<span class="column large"><$ value $></span>
		<$ endloop $>
	<$ endloop $>
<$ else $>
	<$ lc( 'wwNoResults' ) $>
<$ endif $>
			</div>
		</div>
<$ include std_page_end $>
	</body>
</html>