<?cfg jcharset="Cp1252"?>
CoSign_WSC_URL=http://ec2-50-17-123-132.compute-1.amazonaws.com/wsc/UploadDoc.aspx
CoSign_WSC_URL_PULL=http://ec2-50-17-123-132.compute-1.amazonaws.com/wsc/pullSignedDoc.ashx
#CoSign.Url.fields=finishURL;fileUploadURL;errorHandleURL
CoSign.Url.finishURL=http://ec2-50-17-123-132.compute-1.amazonaws.com:16200/cs/idcplg?IdcService=COSIGN_CHECKIN_SIGNEDDOCUMENT
CoSign.Url.fileUploadURL=http://ec2-50-17-123-132.compute-1.amazonaws.com:16200/cs/
CoSign.Url.errorHandleURL=http://ec2-50-17-123-132.compute-1.amazonaws.com:16200/cs/
#CoSign.Logic.fields=changePass;uploadImage;isWorkflowMode;allowAdHoc;enforceReason;allowUserReason;workingMode;verify
CoSign.Logic.changePass=false
CoSign.Logic.uploadImage=false
CoSign.Logic.isWorkflowMode=false
CoSign.Logic.allowAdHoc=false
CoSign.Logic.enforceReason=true
CoSign.Logic.allowUserReason=true
CoSign.Logic.workingMode=pull
CoSign.Logic.verify=true